<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="javaMapperPackage" value="com.vip.project.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="javaModelPackage" value="com.vip.project.domain.entity" />
        <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="second-project" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="second-project">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.vip.project.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaModelPacakge" value="com.vip.project.domain.entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="xmlPackage" value="mappers" />
                  <option name="xmlPath" value="$PROJECT_DIR$/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="project02:banner">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="banner_id" />
                  <option name="javaModelName" value="Banner" />
                  <option name="moduleName" value="second-project" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="project02:category">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="cate_id" />
                  <option name="javaModelName" value="Category" />
                  <option name="moduleName" value="second-project" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="project02:nav_menu">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="menu_id" />
                  <option name="javaModelName" value="NavMenu" />
                  <option name="moduleName" value="second-project" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="project02:navigation">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="nav_id" />
                  <option name="javaModelName" value="Navigation" />
                  <option name="moduleName" value="second-project" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="project02:shop">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="shop_id" />
                  <option name="javaModelName" value="Shop" />
                  <option name="moduleName" value="second-project" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="project02:shop_image">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="shop_img_id" />
                  <option name="javaModelName" value="ShopImage" />
                  <option name="moduleName" value="second-project" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="project02:sub_menu">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="sub_menu_id" />
                  <option name="javaModelName" value="SubMenu" />
                  <option name="moduleName" value="second-project" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="project02:sub_menu1">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="sub_menu1_id" />
                  <option name="javaModelName" value="SubMenu1" />
                  <option name="moduleName" value="second-project" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="useLomBokOnModel" value="true" />
        <option name="xmlMapperPackage" value="mappers" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>